body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fall-leaves.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* What kind of selector is this? */
  .logo {
    width: 200px;
    height: 200px;
    margin: 3% 10%;
  }

  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  /* This is an element within and element selector */ 
  nav > a {
    margin: 2% 2% 4%;
    height: 15%;
    width: 15%;
    color: black;
    font-family: courier, monospace;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    text-align: center;
    border: 2px solid purple;
  }

  .has-border {
    border-radius: 25px;
    border: 2px soli green;
    background: none;
    padding: 20px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  /* This is an ID selector */
  #profile-pic {
    width: 200px;
    height: 300px;
    border-radius: 80%;
    margin: 15% auto;
    grid-column: 2/3;
  }

  h1 {
    color: orangered;
    background-color: black;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid black;
  }

  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
    text-align: center;
    color: grey;
  }

  .small-text {
    grid-column: 2/3;
    color: teal;
    font-size: 10px;
    margin: 3% auto;
  }

  button {
    grid-column: 2/3;
    margin: 2% auto;
    width: 70%;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-style: dotted dashed solid double;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    padding-bottom: 9%;
    text-align: center;
    color: teal;
    letter-spacing: 10px;
    font-style: bolder;
  }